<tr>
  <td>Ticker</td>
  <td>Company</td>
  <td>Shares Purchased</td>
  <td>Purchase Price</td>
  <td>Current Price</td>
  <td>Gain/Loss</td>
</tr>

{{#each stock_purchases}}
  <tr>
    {{> stock_purchase}}
  </tr>
{{/each}}
