$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

td { height: 30px;
  font-family: Helvetica;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;}

tr:nth-child(even) {background: rgba(135, 206, 250, .5);}
tr:nth-child(odd) {background: #fff;}

.table-top-row { font-weight: bold;}

.stocks{margin-left: auto;
        margin-right: auto;}

#control-buttons{margin-left: auto;
                margin-right: auto;}

btn-primary {
  margin-bottom: 10px;
}
